.git
.venv
venv
__pycache__
*.pyc
.pytest_cache
.hypothesis
outputs
wandb
.mypy_cache
.ruff_cache
*.pt
*.pth
*.safetensors
.ipynb_checkpoints
.hydra
multirun
.env
dist
build
.eggs
*.egg-info
htmlcov
.coverage
tests
docs
notebooks
.cursor
